/* body */
body {
  font-family: 'Quicksand', sans-serif;
}

textarea {
  resize: none;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-120 {
  margin-top:0px;
}
.padding-top-60 {
  padding-top: 60px;
}
.font-bold {
  font-weight: 700;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
a:focus, a:hover {
  
  text-decoration: none;
}
/* body */

.header_part{
  position: relative;
}

/* topbar menu */
.lp-top-bar {
  background-color: rgba(0,0,0,.3);
  padding: 0   0 4px;
  position: relative;
  z-index: 6;
}
.lp-top-bar-black {
  background: #000;
}
.lp-topbar-menu {
  padding: 0; 
  text-align: center;
}
.lp-topbar-menu li {
  
  
  margin-right: 11px;
 
  
}
.lp-top-bar-menu ul li {
  float: none;
  display: inline-block;
}

.lp-top-bar-social ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.lp-top-bar-social ul li {
  float: none;
 display: inline-block;
 margin-left: 15px;
}
.lp-topbar-menu li a, .lp-top-bar-social ul li a {
color: #fff;
}
/* topbar menu */

/* navbar menu*/
.navbar-custom {
  border-radius: 0;
  background: #41a6df;
  border: 0;
  color: #fff;
  position: relative;
  z-index: 10;
  margin: 0;
}
.navbar-custom .navbar-nav>li>a {
  color: #fff;
}
.navbar-custom a.navbar-brand {
  color: #fff;
}
/* navbar menu*/
/* banner */
.banner {
  /* height: 500px; */
}
.lp-vedio-bg video {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.video-lp {
  position: absolute;
  max-width: 1000%;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}
/* banner */
/* banner form */
.lp_auto_loc_container {
  margin-top:90px;
}
.lp-home-banner-contianer {
  height: 500px;
}
.lp-home-banner-contianer-inner {
  color: #fff;
  
}
.page-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,.3);
  height: 100%;
}
.lp-search-bar {
  display: block;
  padding: 15px;
  background-color: rgba(255,255,255,.2);
  border-radius: 5px;
  margin-top: 30px;
  padding-bottom: 0;
}

.lp-home-banner-contianer-inner .lp-search-bar {
  padding-bottom:15px; 
}
.lp-home-banner-contianer .lp-search-bar .form-group.lp-suggested-search {
  width: 100%;
}

.lp-search-bar .lp-suggested-search .input-group-addon.lp-border, .form-group.lp-location-search .lp-where {
  z-index: 10;
  padding: 0;
  line-height: 46px;
  height: 46px;
  padding: 0 10px;
} 

.lp-search-bar .lp-suggested-search, .lp-header-search .lp-search-form-where, .lp-header-search .lp-search-form-submit {
  display: inline-block;
  margin-left: 0;
}

.lp-search-bar .lp-suggested-search .input-group-addon.lp-border,
.form-group.lp-location-search .lp-where
{

  background-color: transparent;
  color: #333;
  float: left;
  font-weight: 600;
  height: 46px;
  left: 0;
  line-height: 43px;
  padding: 0 0 0 15px;
  position: absolute;
  top: 0;
  width: 55px;
  z-index: 0;
}
.lp-home-banner-contianer-inner .lp-search-bar .form-group {
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  vertical-align: top;
  height: 46px;
  margin: 0;
  position: relative;
  width: 50%;
}

.lp-home-banner-contianer-inner .lp-search-bar .form-group .lp-search-input{
  background-color: transparent;
  border: medium;
  border-radius: 5px 0 0 5px;
  min-width: 295px;
  padding-left: 65px;
  width: 100%;
  border-top:1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 46px;

}
.form-group.lp-suggested-search input {
  border-right: 1px solid #ddd!important;
}
.form-control:focus {
 border-color: #ccc;
  box-shadow: none;
}
.form-control {
  height: 40px;
  box-shadow: none;
  border: 1px solid #e3e3e3;
}
.lp-search-bar .form-group.lp-suggested-search {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.lp-home-banner-contianer-inner .lp-search-bar .form-group.lp-location-search {
width: 100%;
}
.ui-widget {
  float: none;
}
input.cities {
  padding-left: 80px;
  width: 100%;
  height: 46px;
  line-height: 47px;
  border-radius: 0 5px 5px 0;
  border-top:1px solid #ccc;
  border-bottom: 1px solid #ccc;
 
}
.lp-home-banner-contianer-inner .lp-search-bar .form-group.searchBtn {
   background-color: transparent;
  margin-right: 0;
  width: auto;
  float: none;
}
.lp-search-btn {
height: 46px;
padding: 11px 20px;
font-weight: 700;
border-radius: 5px;
background-color: #41a6df;
border: none;
margin: 2px 0 0;
width: 100%;
}

.lp-search-description {
  margin-top: 89px;
}
/* banner form */

/*home categoires*/
.lp-home-categoires {
padding: 0;
  margin: 10px 0 0;
}
.lp-home-categoires li {
  display: inline-block;
  width: 100%;
  margin: 0;
}
.lp-home-categoires li a {
  width: 100%;
  height: 110px;
  text-align: center;
  float: left;
  background-color: #363f48;
  color: #fff;
  box-shadow: 0 5px 13px rgba(0,0,0,.42);
  position: relative;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.lp-home-categoires li a span {
  font-size: 15px;
  width: 100%;
  font-weight: 400;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*home categoires*/
/* service */
.serviceBox,
.location {
  margin: 30px 0;
}
.show-img {
  min-height: 440px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.show-img img {
  width: 100%;
}
/* service */

footer{
  margin-top:30px; 
  padding: 60px 0;
  background: #363f48;
}
.textwidget li {
  list-style: none;
}
.textwidget li a{
  color: #7f7f7f;

}
.social-icons li a img {
  width: 25px;
  height: 25px;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons {
 margin: 0;
 padding: 0;
}

/* listing page */
.innerPage_Headeing {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
   url('../img/bridal-wear.jpg') 0 0 repeat;
   height: 213px; 
}

.breadcrumbs {
  margin:40px 0 0;
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
  position: relative;
  margin-right: 13px!important;
  padding-left: 16px!important;
  color:  #fff;
}

.breadcrumbs li:first-child {
  padding-left: 0!important;
  padding-right: 4px!important;
  margin-right: 0!important;
}
.breadcrumbs li a {
  color:#fff;
}
.breadcrumbs a:first-child {
  display: block;
}
.breadcrumbs li:first-child::before{
  display:none;
}

.breadcrumbs li:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 9px;
  color: #fff;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}
 .lp-title h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.lp-filter-inner {
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  margin-top: -25px;
  padding: 10px!important;
}

/* listing page */

/* more-filter */
.more-filter {
  background: #fff;
  padding: 10px;
  margin-top: -30px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,.08) inset;
  border-bottom: 1px solid #dedede;
}
.more-filter .btn-group {
  display: inline-block;
}

.customBtn{
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  color: #9f9f9f;
  float: left;
  font-size: 13px;
  font-weight: 500;
  line-height: 27px;
  padding: 3px 15px;
  width: 100%;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

/* more-filter */
/* features-filter */
.features-filter {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  box-shadow: none;
  margin-top: 0;
  padding: 14px 14px 9px
}
.features-filter ul {
  margin: 0;
  padding: 10px;
}

.features-filter ul li {
  display: inline-block;
  float: none;
  margin-bottom: 5px;
  margin-right: 0;
  padding-right: 26px;
  vertical-align: top;
  width: 23%;
}

.features-filter ul li label {
  font-weight: normal;
  display: block;
}

.checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.features-filter ul li .checkbox label {
  padding-left: 27px;
}

.checkbox label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 0;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-radius: 2px;
}


.features-filter ul li input[type=checkbox] {
  cursor: pointer;
  display: block;
  float: left;
  height: 20px;
  margin-right: 5px;
  margin-left: 0;
  margin-top: 5px;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.features-filter ul li .checkbox label::before {
  background-color: #fff;
  border: 1px solid #dedede;
}
input[type=checkbox]:checked+label:before {
  content: "\f00c";
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  font-family: FontAwesome;
  color: #7f7f7f;
  background-color: transparent;
  border: 1px solid #7f7f7f;
}
/* features-filter */

/* listing-view-layout  */

.listing-view-layout {
  display: inline-block;
  float: right;
  vertical-align: top;
}

.listing-view-layout>ul {
  float: left;
  list-style-type: none;
  margin: 0 10px 0 0 ;
  padding: 0;
}

.listing-view-layout>ul li {
  float: left;
  margin-left: 8px;
}

.listing-view-layout>ul li a {
  border: 2px solid #bcbcbc;
  border-radius: 50%;
  color: #bcbcbc;
  float: left;
  font-size: 14px;
  height: 35px;
  line-height: 32px;
  text-align: center;
  width: 35px;
}

.listing-view-layout>ul li a:hover {
  color: #565555;
}

.list-group-item {
  height:auto;
 
}
.list-group-item.active small {
  color:#fff;
}
.stars {
  margin:20px auto 1px;    
}
.closed {
  color: red;
  
  font-weight: 500;
 
}

/* listing-view-layout  */


/* list details page */

.caption {
  color: #fff;
}

.post-detail-content {
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #7f7f7f;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  padding: 14px 20px 15px;
  display: inline-block;}

  .single-inner-container {
    padding-bottom: 50px;
    padding-top: 50px;
}
.features {
  padding: 11px 20px 0 0;
}

.extra-fields {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 25px;
}

.features>li {
  background-color: transparent;
  border: medium;
  border-radius: 0;
  float: left;
  font-size: 14px;
  line-height: 24px;
  margin-right: 0;
  min-height: 0;
  width: 25%;
  margin-bottom: 20px;
  padding-left: 17px;
  list-style: none;
}
.features>li a {
  font-size: 14px;
  padding: 0;
  color: #363f48;
  text-decoration: none;
}
.features>li:hover> a {
  color: #41a6df;
}
.extra-fields h3 {
  padding: 0;
  margin: 0;
}


.features-listing {
  margin: 0;
  padding: 0;
}
.features-listing>li {
  line-height: 23px;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  display: inline-block;
  color: #7f7f7f;
}
.features-listing>li strong {
  float: left;
  font-family: open sans,sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.features-listing>li span {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  float: right;
}
.features-listing>li:last-child{
  border-bottom: none;
}
.review-form {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 0;
}
.reviewForm {
  display: block;
  padding: 15px ;
  text-decoration: none;
  position: relative;
  
}

.reviewForm::before {
  content:"-";
  font-size: 30px;
  display: block;
  position: absolute;
  right: 10px;
  color: #000;
}

.reviewForm.collapsed::before {
  content:"+";
  font-size: 30px;
  display: block;
  position: absolute;
  right: 10px;
  color: #000;
}


.reviewForm h3 {
  font-size: 16px;
  line-height: 24px;
  color: #000; 
  margin-top: 10px;
}

.btn-outline-primary:after{
  background: #007bff;
}
.btn-outline-primary:hover{
  background: #007bff;
}
.slideup:after{
  top: 0;
  z-index: -1;
      transform: translate3D(0,100%,0); /* move elements above button so they don't appear initially */
  transition: all .5s;/* onhover background color */
}

.slideup:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}
.btn{
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: all .5s;
}
/* //// Default effect: Slide from Top  //// */
.btn:before,
.btn:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  transition: all .5s;
}
.btn:hover{
	color: white;
}
.btn:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}
.btn-primary:before{
  background: #007bff; /* button default background color */
}
.btn-primary:after{
  background: #0000005a;
}
.btn-primary:hover{
  background: #025ec1;
}
.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.card{
  padding: 0 25px 15px; 
}

.review-form form .form-group {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 30px;
}
.review-form form .form-group:last-child{
  border-bottom:none;
}

.timeing {
  margin: 0;
  padding: 0;
}

.red {
  background-color: red;
}
.socal-link {
  list-style: none;
  margin: 0;
  padding: 0;
}
.socal-link li {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 30px;
}
.socal-link li a {
  color: #7f7f7f;
}
.address li span {
  display: inline-block;
  vertical-align: text-top;
}
.address li span:last-child{
  width: 80%;
  margin: 0 0 0 10px;
}
.iconMarker {}
/* list details page */



/* custom Media  */
@media (min-width:768px) {
  .lp-home-categoires {
    text-align: center;
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .lp-home-categoires li {
    display: inline-block;
    width: 120px;
    margin-right: 13px;
  }
  .margin-top-120-xs {
    margin-top: 120px;
  }
  .lp-home-banner-contianer .lp-search-bar .form-group.lp-suggested-search {
    height: 46px;
    margin: 0;
    position: relative;
    width: 50%;
  }
  .lp-home-banner-contianer-inner .lp-search-bar .form-group.lp-location-search {
    width: 30%;
    margin-left: -4px;
    margin-right: 0;
    position: relative;
  }
  .ui-widget {
    float: left;
  }
  .lp-search-btn {
    margin: 0;
    width: auto;
  }
  .lp-home-banner-contianer-inner .lp-search-bar .form-group.searchBtn {
    float: right;
  }
  .lp-top-bar-menu ul li {
    float: left;
    line-height: 12px;
    margin-right: 10px;
  }
  .lp-topbar-menu li {
    display: inline-block;
    list-style-type: disc;
    margin-right: 25px;
    position: relative;
  }
  .lp-top-bar-social ul li {
    float: right;
    margin-left: 15px;
    height: 20px;
    width: 8px;
  }
}